{% extends "Parent.html" %}
{% comment %} {% load static %} {% endcomment %}
{% block body %}

<div class="one">
  <div class="o"></div>
  <div class="o"></div>
  <div class="o"></div>
</div>


<div class="two">
  <div class="p"></div>
  <div class="p"></div>
  <div class="p"></div>
</div>
{% if message %}
<div class="message-contact">
  <h4>{{message}} </h4>
</div>
{% endif %}

<div class="container">
  <div class="left">
    <div class="content">
      <h1>Build your dream <br> Online Business</h1>
      <h3>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
        industry's standard dum</h3>
    </div>

    <div class="buttons">
      <a href="" class="button">See blogs</a>
      <a href="" class="button">Post blogs</a>
    </div>
    <div class="choose">
      1
    </div>
  </div>

  <div class="right-con">
    <!-- <h1>ssgf</h1> -->
    <div class="explore">
      <div class="explore-content">
        <h4>Explore What you need,What you want</h4>
        <h5> Lore is a body of knowledge or tradition that is passed down among members of a culture, usually orally.
          It's the lore in "folklore," and responsible for spreading the word on mythical figures like Santa Claus, Paul
          Bunyan, and even Uncle Sam.</h5>
      </div>
      <div class="explore-button">
        <button>Explore</button>
        <button>Explore</button>
      </div>
    </div>

    <div class="explore" class="ex1">
      <div class="explore-content">
        <h4>Explore What you need,What you want</h4>
        <h5> Lore is a body of knowledge or tradition that is passed down among members of a culture, usually orally.
          It's the lore in "folklore," and responsible for spreading the word on mythical figures like Santa Claus, Paul
          Bunyan, and even Uncle Sam.</h5>
      </div>
      <div class="explore-button">
        <button>Explore</button>
        <button>Explore</button>
      </div>
    </div>


    <div class="explore" class="ex1">
      <div class="explore-content">
        <h4>Explore What you need,What you want</h4>
        <h5> Lore is a body of knowledge or tradition that is passed down among members of a culture, usually orally.
          It's the lore in "folklore," and responsible for spreading the word on mythical figures like Santa Claus, Paul
          Bunyan, and even Uncle Sam.</h5>
      </div>
      <div class="explore-button">
        <button>Explore</button>
        <button>Explore</button>
      </div>
    </div>


  </div>

</div>

<div class="l" style="display: none;">
  <div class="line"></div>
</div>


<div class="textmove">
  <div class="text">
    <h3 class="text-for-move">HELLO THIS IST HE BLOG WEBSITE WHERE YOU CAN LEANR VERY INTRESTIG TOPIC</h3>
  </div>
</div>
<main>
  <div class="main-container" id="services">
    <div class="left-main-container">

    </div>

    <div class="right-main-container">
      <div class="content-big">
        <h3>Track your track with our cool features.</h3>
      </div>

      <div class="para">
        <p>Neque viverra justo nec ultrices dui sapien eget mi proin. Aliquet nec ullamcorper sit amet. Facilisi
          nullam vehicula ipsum a arcu. Lacus luctus accumsan tortor the in process posuere.</p>
      </div>

      <div class="oneone">
        <div class="active">
          <span class="plus">4 .5M+ </span>
          <br>
          Active User
        </div>

        <div class="active">
          <span class="plus">4 .5M+ </span>

          <br>
          Active User
        </div>

        <div class="active">
          <span class="plus">4 .5M+ </span>

          <br>
          Active User
        </div>
      </div>
      <div class="main-button1">
        <button>Click</button>
        <button>Click</button>
      </div>
    </div>
  </div>






  <div class="black-div">
    <div class="textmove s-t-m">
      <div class="text">
        <h3 class="text-for-move">HELLO THIS IST HE BLOG WEBSITE WHERE YOU CAN LEANR VERY INTRESTIG TOPIC</h3>
      </div>
    </div>






    <div class="myteam">
      <div class="responsive-container-block container-r">
        <p class="text-blk team-head-text">
          Our Team
        </p>
        <div class="responsive-container-block">
          <div class="responsive-cell-block wk-desk-3 wk-ipadp-3 wk-tab-6 wk-mobile-12 card-container">
            <div class="card">
              <div class="team-image-wrapper">
                <img class="team-member-image"
                  src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/expert1.png">
              </div>
              <p class="text-blk name">
                Davis George
              </p>
              <p class="text-blk position">
                CEO
              </p>
              <p class="text-blk feature-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              </p>
              <div class="social-icons">
                <a href="https://www.twitter.com" target="_blank">
                  <img class="twitter-icon"
                    src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/Icon.svg">
                </a>
                <a href="https://www.facebook.com" target="_blank">
                  <img class="facebook-icon"
                    src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/Icon-1.svg">
                </a>
              </div>
            </div>
          </div>
          <div class="responsive-cell-block wk-desk-3 wk-ipadp-3 wk-tab-6 wk-mobile-12 card-container">
            <div class="card">
              <div class="team-image-wrapper">
                <img class="team-member-image"
                  src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/expert2.png">
              </div>
              <p class="text-blk name">
                Davis George
              </p>
              <p class="text-blk position">
                CEO
              </p>
              <p class="text-blk feature-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              </p>
              <div class="social-icons">
                <a href="https://www.twitter.com" target="_blank">
                  <img class="twitter-icon"
                    src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/Icon.svg">
                </a>
                <a href="https://www.facebook.com" target="_blank">
                  <img class="facebook-icon"
                    src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/Icon-1.svg">
                </a>
              </div>
            </div>
          </div>
          <div class="responsive-cell-block wk-desk-3 wk-ipadp-3 wk-tab-6 wk-mobile-12 card-container">
            <div class="card">
              <div class="team-image-wrapper">
                <img class="team-member-image"
                  src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/ET7.14.png">
              </div>
              <p class="text-blk name">
                Davis George
              </p>
              <p class="text-blk position">
                CEO
              </p>
              <p class="text-blk feature-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              </p>
              <div class="social-icons">
                <a href="https://www.twitter.com" target="_blank">
                  <img class="twitter-icon"
                    src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/Icon.svg">
                </a>
                <a href="https://www.facebook.com" target="_blank">
                  <img class="facebook-icon"
                    src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/Icon-1.svg">
                </a>
              </div>
            </div>
          </div>
          <div class="responsive-cell-block wk-desk-3 wk-ipadp-3 wk-tab-6 wk-mobile-12 card-container">
            <div class="card">
              <div class="team-image-wrapper">
                <img class="team-member-image"
                  src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/ET7.15.png">
              </div>
              <p class="text-blk name">
                Davis George
              </p>
              <p class="text-blk position">
                CEO
              </p>
              <p class="text-blk feature-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              </p>
              <div class="social-icons">
                <a href="https://www.twitter.com" target="_blank">
                  <img class="twitter-icon"
                    src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/Icon.svg">
                </a>
                <a href="https://www.facebook.com" target="_blank">
                  <img class="facebook-icon"
                    src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/Icon-1.svg">
                </a>
              </div>
            </div>
          </div>
          <div class="responsive-cell-block wk-desk-3 wk-ipadp-3 wk-tab-6 wk-mobile-12 card-container">
            <div class="card">
              <div class="team-image-wrapper">
                <img class="team-member-image"
                  src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/expert2.png">
              </div>
              <p class="text-blk name">
                Davis George
              </p>
              <p class="text-blk position">
                CEO
              </p>
              <p class="text-blk feature-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              </p>
              <div class="social-icons">
                <a href="https://www.twitter.com" target="_blank">
                  <img class="twitter-icon"
                    src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/Icon.svg">
                </a>
                <a href="https://www.facebook.com" target="_blank">
                  <img class="facebook-icon"
                    src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/Icon-1.svg">
                </a>
              </div>
            </div>
          </div>
          <div class="responsive-cell-block wk-desk-3 wk-ipadp-3 wk-tab-6 wk-mobile-12 card-container">
            <div class="card">
              <div class="team-image-wrapper">
                <img class="team-member-image"
                  src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/ET7.14.png">
              </div>
              <p class="text-blk name">
                Davis George
              </p>
              <p class="text-blk position">
                CEO
              </p>
              <p class="text-blk feature-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              </p>
              <div class="social-icons">
                <a href="https://www.twitter.com" target="_blank">
                  <img class="twitter-icon"
                    src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/Icon.svg">
                </a>
                <a href="https://www.facebook.com" target="_blank">
                  <img class="facebook-icon"
                    src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/Icon-1.svg">
                </a>
              </div>
            </div>
          </div>
          <div class="responsive-cell-block wk-desk-3 wk-ipadp-3 wk-tab-6 wk-mobile-12 card-container">
            <div class="card">
              <div class="team-image-wrapper">
                <img class="team-member-image"
                  src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/ET7.15.png">
              </div>
              <p class="text-blk name">
                Davis George
              </p>
              <p class="text-blk position">
                CEO
              </p>
              <p class="text-blk feature-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              </p>
              <div class="social-icons">
                <a href="https://www.twitter.com" target="_blank">
                  <img class="twitter-icon"
                    src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/Icon.svg">
                </a>
                <a href="https://www.facebook.com" target="_blank">
                  <img class="facebook-icon"
                    src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/Icon-1.svg">
                </a>
              </div>
            </div>
          </div>
          <div class="responsive-cell-block wk-desk-3 wk-ipadp-3 wk-tab-6 wk-mobile-12 card-container">
            <div class="card">
              <div class="team-image-wrapper">
                <img class="team-member-image"
                  src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/expert1.png">
              </div>
              <p class="text-blk name">
                Davis George
              </p>
              <p class="text-blk position">
                CEO
              </p>
              <p class="text-blk feature-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              </p>
              <div class="social-icons">
                <a href="https://www.twitter.com" target="_blank">
                  <img class="twitter-icon"
                    src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/Icon.svg">
                </a>
                <a href="https://www.facebook.com" target="_blank">
                  <img class="facebook-icon"
                    src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/Icon-1.svg">
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>






  <div class="c-black">

    <div class="contact-us">
      <div class="contactus-h2" id="contact">
        <h2 class='cc' c style="color:white">Give Review</h2>
      </div>

      <div class="contact-only-form">
        <div class="form-start">
          <form action="/" method="post">
            {% csrf_token %}
            <div class="name-div">
              <label for="Fullname">FullName</label>
              <br>
              <input type="text" name="fullname" class="in" required>
              <br>
              <label for="email">Email</label>
              <br>
              <input type="email" name="email" class="in" required>
              <br>
              <label for="message">Message</label>
              <br>
              <textarea id="review" cols="65  " rows="10" name="message" class='big-in' required></textarea>
              <br>
              <input type="submit" value="submit" class="review-button"> </input>
            </div>
          </form>
        </div>
        <div class="contact-content ">


        </div>

      </div>
    </div>


    {% if reviews %}
    <div class="allthecomments-review-ofthe-user" style="display:none">
      <p class="text-blk team-head-text" style="color:white">
        Custumer review
      </p>
      <div class="allthecomments-review">
        {% for review in reviews %}
        <div class="reviews">
          <div class="fullname">
            <h2>{{review.fullName}}</h2>
          </div>

          <div class="email">
            <h4>{{review.email}}</h4>
          </div>

          <div class="message">
            <p>{{review.message}}</p>
          </div>
        </div>
        {% endfor %}
      </div>

    </div>
    {% endif %}

  </div>
</main>




<script>

  let container = document.querySelector('.all');
  container.addEventListener('wheel', (e) => {
    e.preventDefault();
    console.log(e.deltaY)
    container.style.scrollBehavior = 'smooth';

    container.scrollLeft += e.deltaY;
  });



  let lB = document.getElementsByClassName('lb')[0];
  let rB = document.getElementsByClassName('rb')[0];
  lB.addEventListener('click', () => {
    container.style.scrollBehavior = 'smooth';
    container.scrollLeft += 900;
  })

  rB.addEventListener('click', () => {
    container.style.scrollBehavior = 'smooth';

    container.scrollLeft -= 900;
  });


</script>


{% endblock body %}