{% extends "Parent.html" %}
{% block body %}

<form  method="POST" action="" class="bg-dark">
    {% csrf_token %}
    <div class="mb-3 bg-dark" >
      <label for="exampleInputEmail1" class="form-label">Email address</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="email" placeholder="Email...">
      <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">FullName</label>
      <input type="text" class="form-control" id="exampleInputPassword1" name="Full Name" placeholder="Fullname..." >
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">FullName</label>
        <input type="text" class="form-control" id="exampleInputPassword1" name="title">
      </div>
    <div class="mb-3 form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
{% endblock body %}